html {
    -webkit-transition: background-color .3s;
    transition: background-color .3s;


}
html, body {
    /* For the loading indicator to be vertically centered ensure */
    /* the html and body elements take up the full viewport */
    min-height: 100%;
}
html.loading {
    /* Replace #333 with the background-color of your choice */
    /* Replace loading.gif with the loading image of your choice */
    background: #333 url('../images/loader.gif') no-repeat 50% 50%;

    /* Ensures that the transition only runs in one direction */
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
}
body {
    -webkit-transition: opacity .3s ease-in;
    transition: opacity .3s ease-in;
}
html.loading body {
    /* Make the contents of the body opaque during loading */
    opacity: 0;

    /* Ensures that the transition only runs in one direction */
    -webkit-transition: opacity .3s;
    transition: opacity .3;
}