.box {
	background-color: #F5D0A9;
	border-radius: 10%;
}

.phrase {
	background-color: white;
	font-size: 40px;
}

img {
	border-radius: 10%;
}

.imgCenter {
	width: auto;
}

.imgMemory {
	/*background-image: url("images/imgMemory/11.jpg");*/
	background-size: 100% 100%;
}

.alert-box {
	color: #555;
	text-align: center;
	border-radius: 10px;
	/*,Geneva,Arial,sans-serif*/
	font-family: Optima;
	font-size: 20px;
	padding: 20px;
	overflow: auto;
	z-index: 1;
	max-height:
}

.alert-box span {
	font-weight: bold;
	text-transform: uppercase;
}

.error {
	/* agregar imagen url('images/error.png') no-repeat 10px 50%*/
	background: #ffecec;
	border: 1px solid #f5aca6;
}

.success {
	background: #e9ffd9;
	border: 1px solid #a6ca8a;
	margin: auto;
	width: 30%;
	min-width: 300px;
	margin-top: 7%;
}

.warning {
	background: #fff8c4;
	border: 1px solid #f2c779;
}

.notice {
	background: #e3f7fc;
	border: 1px solid #8ed9f6;
}

.imagenSucced {
	max-width: 50%;
	max-height: 50%;
}

.container-body {
	margin: auto;
	overflow: auto;
}

article {
	margin-top: 7%;
	margin: auto;
	min-height: 130px;
	min-width: 200px;
	overflow: auto;
	margin-bottom: 5%;

}

/* .kitty {
	background: url('../comun/img/Kitty Teacher.png') no-repeat;
	background-color: red;
	width: auto;
	height: auto;
} */
body {
	margin-top: 10%;
/* 	background-repeat: no-repeat; */
	 min-width:600px; 
}

.iframeMenu {
	position: absolute;
	top: 100px;
	right: 10px;
	min-height: 500px;
}

.wrong {
	color: red;
	border-color: red;
}

.normal {
	color: black;
	border-color: black;
}

/********** ANIMATIONS **************/
.animateUpperCorner {
	-webkit-transition: 1s ease-in-out;
	-moz-transition: 1s ease-in-out;
	-o-transition: 1s ease-in-out;
	transition: 1s ease-in-out;
	-webkit-transform: translate(300px, -100px);
	-moz-transform: translate(300px, -100px);
	-o-transform: translate(300px, -100px);
	-ms-transform: translate(300px, -100px);
	transform: translate(300px, -100px) rotate(400deg);
}

.animateToFront {
	z-index: 10;
	-webkit-transition: 1s ease-in-out;
	-moz-transition: 1s ease-in-out;
	-o-transition: 1s ease-in-out;
	transition: 1s ease-in-out;
	-ms-transform: scale(2, 2) rotateX(360deg); /* IE 9 */
	-webkit-transform: scale(2, 2) rotateX(360deg);
	/* Chrome, Safari, Opera */
	transform: scale(2, 2) rotateX(360deg);
}

.animateToFrontRigth {
	z-index: 10;
	-webkit-transition: 1s ease-in-out;
	-moz-transition: 1s ease-in-out;
	-o-transition: 1s ease-in-out;
	transition: 1s ease-in-out;
	-ms-transform: translate(80px, 0px) scale(2, 2) rotateX(360deg);
	/* IE 9 */
	-webkit-transform: translate(80px, 0px) scale(2, 2) rotateX(360deg);
	/* Chrome, Safari, Opera */
	transform: translate(80px, 0px) scale(2, 2) rotateX(360deg);
}

.rotateToLeft {
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
	-ms-transform: rotateY(180deg); /* IE 9 */
	-webkit-transform: rotateY(180deg); /* Chrome, Safari, Opera */
	transform: rotateY(180deg);
}

.translateLeft {
	-webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	transition: 0.5s ease-in-out;
	-ms-transform: translate(50px, 0px); /* IE 9 */
	-webkit-transform: translate(50px, 0px); /* Chrome, Safari, Opera */
	transform: translate(50px, 0px);
}

.bounceAnimate {
	animation: bounce 1s;
	-o-animation: bounce 1s;
	-moz-animation: bounce 1s;
	-webkit-animation: bounce 1s;
}

.sphere:hover {
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
	-ms-transform: scale(1.2, 1.2); /* IE 9 */
	-webkit-transform: scale(1.2, 1.2); /* Chrome, Safari, Opera */
	transform: scale(1.2, 1.2);
}

@
-webkit-keyframes bounce { 0% {
	transform: translate(0px, -40px);
}

40%
{
transform


:translate


(0
px
,
30
px


);
}
60%
{
transform


:translate


(0
px
,
-30
px


);
}
90%
{
transform


:translate


(0
px
,
10
px


);
}
100%
{
transform


:translate


(0
px
,
-10
px


);
}
}
@
-moz-keyframes bounce { 0% {
	transform: translate(0px, -40px);
}

40%
{
transform


:translate


(0
px
,
30
px


);
}
60%
{
transform


:translate


(0
px
,
-30
px


);
}
90%
{
transform


:translate


(0
px
,
10
px


);
}
100%
{
transform


:translate


(0
px
,
-10
px


);
}
}
@
-o-keyframes bounce { 0% {
	transform: translate(0px, -40px);
}

40%
{
transform


:translate


(0
px
,
30
px


);
}
60%
{
transform


:translate


(0
px
,
-30
px


);
}
90%
{
transform


:translate


(0
px
,
10
px


);
}
100%
{
transform


:translate


(0
px
,
-10
px


);
}
}
@
keyframes bounce { 0% {
	transform: translate(0px, -40px);
}

40%
{
transform


:translate


(0
px
,
30
px


);
}
60%
{
transform


:translate


(0
px
,
-30
px


);
}
90%
{
transform


:translate


(0
px
,
10
px


);
}
100%
{
transform


:translate


(0
px
,
-10
px


);
}
}

/* @keyframes bounce {
	
		from     { transform:translate(20px,0px); }
		  30%,60%  { transform:translate(20px,0px); }
		  80%      { transform:translate(20px,0px); }
	
	0%{
		-ms-transform:  translate(20px,0px)//, translate(-20px,0px); IE 9
	   	-webkit-transform: translate(20px,0px), translate(-20px,0px); Chrome, Safari, Opera
	    transform: translate(0px,40px);
	}
	
	50%{
		-ms-transform:  translate(20px,0px)//, translate(-20px,0px); IE 9
	   	-webkit-transform: translate(20px,0px), translate(-20px,0px); Chrome, Safari, Opera
	    transform: translate(30px,0px);
	}
	
	70%{
		-ms-transform:  translate(20px,0px)//, translate(-20px,0px); IE 9
	   	-webkit-transform: translate(20px,0px), translate(-20px,0px); Chrome, Safari, Opera
	    transform: translate(0px,30px);
	}
	
	100%{
		-ms-transform:  translate(20px,0px)//, translate(-20px,0px); IE 9
	   	-webkit-transform: translate(20px,0px), translate(-20px,0px); Chrome, Safari, Opera
	    transform: translate(10px,0px);
	}
	
}
 */

/********** ANIMATIONS **************/

/********** TITLE FORMAT **************/
.congrat_title {
	color: #FFA500;
	font-weight: bold;
	text-transform: uppercase;
}

/**********END TITLE FORMAT **************/
.btnActionAcvitivy {
	max-width: 100%;
	max-height: 100%;
	display: inline;
}

.btnContainer {
	height: 60px;
	position: absolute;
	top: 5%;
	right: 5%;
}

.btnActionAcvitivy:hover {
	opacity: 0.7;
}

.textBackground {
	background-color: #F3E2A9;
	border-radius: 20px;
	padding: 10px;
}

.textBackground:hover {
	box-shadow: 0 3px 25px #000;
	background-color: #F5ECCE;
}

.btnMemory {
	float: left;
	margin: 20px;
	box-shadow: 2px 2px 5px #999;
}

.sphere {
	padding-top: 3%;
	border-radius: 50%;
	box-shadow: inset -25px -25px 40px rgba(0, 0, 0, .5);
	background-color: #A9E2F3;
}

@media screen and (max-width: 850px) {
	.btnImg {
		width: 80px;
		height: 100px;
	}
	.actContainer {
		width: 490px;
	}
	
	#titulo {
		font-size: 3em;
	}
}

@media screen and (min-width: 850px) {
	.btnImg {
		width: 100px;
		height: 120px;
	}
	.actContainer {
		width: 600px;
	}
	#titulo {
		font-size: 4em;
	}
	#kittyTeacher {
		width: 150px;
	}
	#alumno {
		font-size: 2.5em;
	}
}

/*************************Congratulations************************************/
.container {
	width: 400px;
	top: 100px;
	position: relative;
	margin: 0px auto;
}

.clipped-box {
	cursor: pointer;
	-webkit-transition: top 1.2s linear;
	transition: top 1.2s linear;
	margin-left: auto;
	margin-right: auto;
}

.clipped-box div {
	z-index: 9999999;
	color: #fff;
	font-size: 1em;
	padding: 50px 20px;
	text-align: center;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	background: #F7BE81;
}

.clipped-box div h1 {
	text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

.clipped-box,.clipped-box div {
	width: 400px;
	height: 250px;
	position: relative;
}

.clipped-box div {
	position: absolute;
	top: auto;
	left: 0;
	background: #4F9CC7;
	-webkit-transition: -webkit-transform 1.4s ease-in, background 0.3s
		ease-in;
	transition: transform 1.4s ease-in, background 0.3s ease-in;
}

/*************************Congratulations END************************************/