#leftbox{
	float:left;
	width:250px;
	height:250px;
	margin:5px;
	border:3px solid;
}
#rightbox{
	float:left;
	width:250px;
	height:250px;
	margin:5px;
	border:3px solid;
}

.btnMemory{
	float: left;
	width:80px;
	height:100px;
	margin:20px;
}



.actContainer{ 
	/*margin-top:7%;
	margin: auto;
	border:solid;
	min-height:130px;
	min-width:200px;
	max-width: 490px;
	overflow: auto;*/
}


.imgCenter{
	width: auto;	
}
.imgMemory{
/*background-image: url("images/imgMemory/11.jpg");*/
background-size:100% 100%;
}


.alert-box {
    color: #555;
    text-align: center;
    border-radius: 10px;
    /*,Geneva,Arial,sans-serif*/
    font-family: Optima;
    font-size: 20px;
    padding: 20px;
    overflow: auto;
	z-index: 1;
	max-height: 
}

.alert-box span {
    font-weight:bold;
    text-transform:uppercase;
}

.error {
	/* agregar imagen url('images/error.png') no-repeat 10px 50%*/
    background:#ffecec ;
    border:1px solid #f5aca6;
}
.success {
    background:#e9ffd9;
    border:1px solid #a6ca8a;
	margin: auto;
    width: 30%;
    min-width: 300px;
    margin-top: 7%;
}
.warning {
    background:#fff8c4 ;
    border:1px solid #f2c779;
}
.notice {
    background:#e3f7fc ;
    border:1px solid #8ed9f6;
}


.imagenSucced{
	max-width: 50%; 
	max-height: 50%;
}

.container-body {
	margin: auto;
	overflow: auto;
}

article{
	margin-top:7%;
	margin: auto;
	min-height:130px;
	min-width:200px;
	max-width: 490px;
	/*overflow: auto;*/
	}

/* .kitty {
	background: url('../comun/img/Kitty Teacher.png') no-repeat;
	background-color: red;
	width: auto;
	height: auto;
} */


body {
	margin-top: 10%;
}

.iframeMenu {
	position: absolute;
	top: 100px;
	margin-left: 60px;
	overflow: auto;
	height: 300px;
}

.wrong {
	color: red;
	border-color: red;
}

.normal {
	color: black;
	border-color: black;
}


/********** ANIMATIONS **************/


.animateUpperCorner{
	-webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
	transition: 1s ease-in-out;
	
	-webkit-transform: translate(300px,-100px);
    -moz-transform: translate(300px,-100px);
    -o-transform: translate(300px,-100px);
    -ms-transform: translate(300px,-100px);
	transform: translate(300px,-100px) rotate(400deg);
}

.animateToFront{
	-webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
	transition: 1s ease-in-out;

	-ms-transform: scale(2,2) rotateX(360deg); /* IE 9 */
    -webkit-transform: scale(2,2) rotateX(360deg); /* Chrome, Safari, Opera */
    transform: scale(2,2) rotateX(360deg);
}

.animateToFrontRigth{
	-webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
	transition: 1s ease-in-out;

	-ms-transform: translate(80px,0px) scale(2,2) rotateX(360deg); /* IE 9 */
    -webkit-transform: translate(80px,0px) scale(2,2) rotateX(360deg); /* Chrome, Safari, Opera */
    transform: translate(80px,0px) scale(2,2) rotateX(360deg);
}


.rotateToLeft{
	-webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;

	-ms-transform: rotateY(180deg); /* IE 9 */
    -webkit-transform: rotateY(180deg); /* Chrome, Safari, Opera */
    transform: rotateY(180deg);
		
}

.translateLeft{
	-webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
	transition: 0.5s ease-in-out;
	
	-ms-transform: translate(50px,0px); /* IE 9 */
   	-webkit-transform: translate(50px,0px); /* Chrome, Safari, Opera */
    transform: translate(50px,0px);
}

/********** ANIMATIONS **************/

/********** TITLE FORMAT **************/

.titulo_cursive {
	width: 530px;
	top: 100px;
	left: 190px;
	font-family: 'Ribeye Marrow', cursive;
	font-size: 25px;
}

/**********END TITLE FORMAT **************/