.principalTitle {
	color: black;
	text-shadow: 0px -1px 4px white, 
				 0px -2px 10px #BDD5FF, 
				 0px -10px 20px #5592FC,
				 0px -18px 40px #1568F6; 
	font-family: freight-sans-pro, sans-serif;
	font-weight: 900; 
}

body {
	background-image :url('../../images/background/bubble-background.jpg');
	background-size:cover;	
}


.btnMemory {
	background-color:#00dd2f;
}

.sphere {
	background-color: #FE5DC3;
}