.principalTitle {
	color: #F7BE81; 
	font-family: freight-sans-pro, sans-serif;
	font-weight: 900; 
	text-shadow: 3px 3px #FE642E;
}

body {
	background: url('../../images/background/tennis.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


.btnMemory {
	background-color:#00dd2f;
}

.sphere {
	background-color: #ACFA58;
}
