.principalTitle {
	width: 530px;
	top: 100px;
	font-family: 'Ribeye Marrow';
	font-size: 25px;
	color:blue;
}

body {
	background-image :url('../../images/background/water.jpg');
}


.btnMemory {
	background-color:#80F27A;
}

.sphere {
	background-color: #F5A9BC;
}
