.absoluto_oculto {
	position: absolute;
	display: none;
}


#titulo {
	display: inline-block;
	float: left;
	min-width: 200 px;
	margin-left: 5%;
}

article.game-centered {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#kittyTeacher {
	display: inline-block;
	float: left;
}

#alumno {
	left: 120px;
	font-family: 'Bentham', serif;
	position: fixed;
	top: 85%;
}

@font-face {
	font-family: 'Bentham';
	font-style: normal;
	font-weight: 400;
	src: local('Bentham'), local('Bentham-Regular'), url(fonts/Benthan.woff) format('woff');
}
@font-face {
	font-family: 'Gabriela';
	font-style: normal;
	font-weight: 400;
	src: local('Gabriela'), local('Gabriela-Regular'), url(fonts/Gabriela.woff) format('woff');
}
@font-face {
	font-family: 'Gloria Hallelujah';
	font-style: normal;
	font-weight: 400;
	src: local('Gloria Hallelujah'), local('GloriaHallelujah'), url(fonts/GloriaHallelujah.woff) format('woff');
}
@font-face {
	font-family: 'Henny Penny';
	font-style: normal;
	font-weight: 400;
	src: local('Henny Penny'), local('HennyPenny-Regular'), url(fonts/HennyPenny.woff) format('woff');
}
@font-face {
	font-family: 'Ribeye Marrow';
	font-style: normal;
	font-weight: 400;
	src: local('Ribeye Marrow'), local('RibeyeMarrow-Regular'), url(fonts/RibeyeMarrow.woff) format('woff');
}

