body {
	background: #00ccff url("img/fondo.png") no-repeat;
	background-size: 100%;
	background-position-y: 50px;
}

.absoluto_oculto {
	position: absolute;
	display: none;
}

#titulo2 {
	width: 530px;
	top: 100px;
	left: 190px;
	font-family: 'Ribeye Marrow', cursive;
	font-size: 25px;
}

#titulo {
	top: 100px;
	left: 190px;
	font-size: 3em;
  font-family: freight-sans-pro, sans-serif;
  font-weight: 900;
  color: #202c2d;
  text-shadow:
    0 1px #808d93,
    -1px 0 #cdd2d5,
    -1px 2px #808d93,
    -2px 1px #cdd2d5,
    -2px 3px #808d93
  /*  -3px 2px #cdd2d5,
    -3px 4px #808d93,
    -4px 3px #cdd2d5,
    -4px 5px #808d93,
    -5px 4px #cdd2d5,
    -5px 6px #808d93,
    -6px 5px #cdd2d5,
    -6px 7px #808d93,
    -7px 6px #cdd2d5,
    -7px 8px #808d93,
    -8px 7px #cdd2d5;*/
  }



#kittyTeacher {
	width: 85px;
	position: absolute;
	top: 0px;
	left: 0px;
}

#huella1 {
	top: 25px;
	left: 100px;
}

#huella2 {
	top: 125px;
	left: 25px;
}

#huella3 {
	top: 250px;
	left: 100px;
}
#huella4 {
	top: 350px;
	left: 25px;
}

#alumno {
	position: absolute;
	top: 420px;
	left: 120px;
	font-size: 18px;
	font-family: 'Bentham', serif;
}

@font-face {
	font-family: 'Bentham';
	font-style: normal;
	font-weight: 400;
	src: local('Bentham'), local('Bentham-Regular'), url(fonts/Benthan.woff) format('woff');
}
@font-face {
	font-family: 'Gabriela';
	font-style: normal;
	font-weight: 400;
	src: local('Gabriela'), local('Gabriela-Regular'), url(fonts/Gabriela.woff) format('woff');
}
@font-face {
	font-family: 'Gloria Hallelujah';
	font-style: normal;
	font-weight: 400;
	src: local('Gloria Hallelujah'), local('GloriaHallelujah'), url(fonts/GloriaHallelujah.woff) format('woff');
}
@font-face {
	font-family: 'Henny Penny';
	font-style: normal;
	font-weight: 400;
	src: local('Henny Penny'), local('HennyPenny-Regular'), url(fonts/HennyPenny.woff) format('woff');
}
@font-face {
	font-family: 'Ribeye Marrow';
	font-style: normal;
	font-weight: 400;
	src: local('Ribeye Marrow'), local('RibeyeMarrow-Regular'), url(fonts/RibeyeMarrow.woff) format('woff');
}

